/*!
Theme Name: wocopperstone 
Theme URI: http://wanderoak.co
Author: Wanderoak
Author URI: http://wanderoak.co
Description: A custom theme built for wocopperstone . This is the Editor Styles
Version: 1.0.0
Text Domain: wocopperstone
Tags:

Custom Editor Styles for The tempest
*/

@import "vendors/fontkit";

@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";

@import "base/root";
@import "base/editor";

@import "layout/spacing";
@import "layout/spacing-reality";

@import "components/news";
@import "components/video-cta";
@import "components/list";
@import "components/highlight";
@import "components/grid";
@import "components/tech-specs";
@import "components/wp-block-gallery";
@import "components/embed";
@import "components/columns";

@import "mods/precedence";

/* Main column width */
.wp-block {
    max-width: 1200px;
}
 
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1200px;
}
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.wp-block[data-type="core/paragraph"], .wp-block[data-type="core/pullquote"], .wp-block[data-type="core/list"],   {
    @extend .l1-margin;
    max-width: $text-width;
}

.wp-block[data-type="core/heading"] {
    @extend .l1-margin;
}
.wp-block-pullquote blockquote>.block-editor-rich-text p {
    font-size: 18px;
}

.wp-block-pullquote__citation, .wp-block-pullquote cite, .wp-block-pullquote footer {
    display: block;
    text-align: left;
    font-style: italic;
    font-size: 16px;
//    color: colour(primary);
    font-family: $chivo;
    font-weight: normal;
    text-transform: none;
}
.editor-post-title {
//    max-width: 750px;
//    margin: 0 auto;
    margin-bottom: 3rem;
}

.block-editor-panel-color-settings {
    display: none !important;
}

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
    display: none;
}