//$width: 1px;
/* 
This map is used for a mobile first responsive coding 
approach mixin in _mixins.scss. Breakpoint names are 
inspired by bodies of water, because they expand and
shrink with the weather. These denote some default
screen breaks. More can be added if needed.

Vocabulary options: pond, brook, creek, gulf, sea.
*/
$breakpoints: (
    'stream': 320px,
    'streambrook': 375px,
    'brook': 500px,
    'pond': 650px,
    'adminbar': 782px,
    'river': 800px,
    'lake': 914px,
    'gulf': 1000px,
    'mobile-nav': 1100px,
    'sea': 1270px,
    'ocean': 1600px,
    'ribbon': 1780px,
    'width': 1552px,
);

/// This a a map of the theme colours.
/// Never name variables by colour, instead use names
/// that signify their usage.

$colours-old: (
    primary: #003935,
    secondary: #b5b5b3,
    highlighter: #5db336,
    detail: #1e1e1e,
    light: #f1f1ee,
//    lgrey: #e8e8e5,
);

$colours: (
    primary: #064E4A,
    darkprimary: #003935,
    highlighter: #4BB25F,
    darkhighlighter: #41a254,
    detail: #000000,
    light: #F6F2ED,
//    lgrey:,
);

//$line-h: 24px;
$line-h: 27px;
$bebas: affogato, sans-serif;
$chivo: librefranklin, sans-serif;
$text-width: 650px;

$bls: 0.04em;