body.admin-bar {
//    .site-header .site-branding .cst-mark-wrapper .sticky-mark{
//        top: 46px + 22px;
//        @include respond-to(adminbar) {
//            top: 32px + 32px;
//        }
//    }
    .overlay-nav {
        padding-top: 65px;
    }
    .main-navigation #menu-wrapper {
        margin-top: 0rem;
    }
}

body {
    height: 100%;
    min-height: 100vh;
}

#page {
    max-width: 1800px;
    margin-left: auto;
    display: grid;
    grid-template-areas: "header nav"
                         "content nav"
                         "footer nav";
    grid-template-columns: calc(100% - var(--nav)) var(--nav);
    height: 100%;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    @include respond-to(sea) {
        grid-template-columns: calc(100% - var(--nav)) var(--nav);
    }
    
}

article {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.entry-content {
    max-width: 1350px;
    margin-right: 0;
    width: 100%;
    margin-top: var(--cspacing);
}

article header {
    max-width: 1350px;
    width: 100%;
    margin-right: 0;
    
    img {
        max-height: 550px;
        object-fit: cover;
        width: 100%;
        @extend .l2-margin;
    }
    h1 {
        margin-left: 0;
        @extend .l1-margin;
    }
    .entry-meta {
        @extend .l2-margin;
    }
}



span.edit-link {
    display: block;
    text-align: right;
    padding: 1em;
}



#adminbarsearch .adminbar-button {
    display: none !important;
}
