.front-page article {
    margin-top: 0;
}
.front-page #page {
    display: grid;
    grid-template-areas: "header content nav"
                         "header content nav"
                         "footer footer nav";
    grid-template-columns: 0% calc(100% - var(--nav)) var(--nav);
    @include respond-to(river) {
        grid-template-columns: 0% calc(100% - var(--nav)) var(--nav);
    }
    @include respond-to(sea) {
        grid-template-columns: 0% calc(100% - var(--nav)) var(--nav);
    }
//    grid-template-areas: "header nav"
//                         "content nav"
//                         "footer nav";
//    grid-template-columns: calc(100% - var(--nav)) var(--nav);
//    @include respond-to(sea) {
//        grid-template-columns: calc(100% - var(--nav)) var(--nav);
//    }
    header#masthead {
        display: block;
        z-index: 1000;
        background: transparent;
        h1, .site-branding, .cst-mark-wrapper {
            background: transparent;
        }
    }
    #primary {
        padding-left: 0;
//        margin-top: -100px;
        @include respond-to(sea) {
//            margin-top: -156px;
        }
        .entry-content {
            margin: 0;
            max-width: 100%;
        }
    }
    .video-cta {
        margin-top: 0;
    }
    
}