.hfeed, .search-results {
    .site-main {
        max-width: 1350px;
        margin-bottom: 2rem;
        @extend .l1-l2-margin;
        .posts-wrapper {
            margin-bottom: 4rem;
        }
        .posts-navigation {
            margin-top: 3rem;
            .nav-links {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .nav-previous, .nav-next {
                    padding: 0 1rem;
                }
            }
        }

    }
}

.hfeed .site-main {
        article {
            max-width: 700px;
            align-items: flex-start;
            margin-top: 4rem;
            .size-post-thumbnail {
                height: 350px;
                object-fit: cover;
                object-position: center;
            }
            header, .entry-content, .simple-p {
                margin-left: 0;
            }
            header {
                padding: 3rem 3rem 0 3rem;
                h2 {
                    margin: 0;
                    margin-bottom: 0.5rem;
                }
            }
            .entry-meta {
                margin-left: 0;
                margin-bottom: 1rem;
                font-size: 15px;
            }
            .entry-title a {
                border-bottom: 0px;
                font-weight: bold;
                text-transform: none;
            }
            .entry-content, .entry-summary {
                line-height: $line-h;
                margin-top: 1rem;
                padding: 0 3rem;
            }
            .entry-footer {
                margin-top: 1rem;
                padding: 0 3rem 3rem 3rem;
            }
            &:nth-child(4n+1) {
                background-color: colour(primary);
                color: #fff;
                h1,h2,h3,h4,h5,h6 {
                    color: #fff;
                    a {
                        color: #fff;
                        &:hover {
                            color: colour(highlighter);
                        }
                    }
                }
                a {
                    color: #fff;
                    border-bottom-color: #fff;
                    &:hover {
                        color: colour(highlighter);
                    }
                }
            }
            &:nth-child(2n+2) {
                background-color: transparent;
            }
            &:nth-child(4n+3) {
                background-color: colour(light);
            }
        }
}