.posted-on {
    a {
        border-bottom: 0px;
        text-transform: none;
        font-family: $chivo;
        font-weight: normal;
        font-style: italic;
    }
}
.page-for-posts.page-title h1 a {
    border-bottom: 0px;
}
.single-post {
    article header {
//        @extend .l1-l2-margin;
    }
    article .entry-meta {
        margin-top: 3rem;
        @extend .l1-l2-margin;
    }
    article .entry-title {
        font-family: $bebas;
        text-transform: uppercase;
        font-size: 30px;
        color: colour(detail);
        font-weight: normal;
        max-width: 750px;
        line-height: 40px;
        margin-top: 1rem;
        @extend .l1-l2-margin;
    }
    article .entry-content {
        margin: 0;
        margin-top: 2rem;
    }
    .nav-links {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        @extend .l2-padding;
        align-items: center;
        .nav-previous, .nav-next {
            max-width: 200px;
            line-height: 1.3;
//            margin: 0.2rem;
        }
        .nav-next {
            text-align: right;
            padding-right: 1em;
        }
        .nav-previous {
            text-align: left;
        }
    }
    .post-navigation,
    #comments {
        max-width: 1350px;
        margin-left: auto;
    }    
}