.try-again-search {
//    @extend .l2-margin;
//    @extend .l2-padding;
    padding: 0rem 1rem 0 3rem;
//    padding-right: 1rem;
    @include respond-to(pond) {
        padding-right: 0;
    }
}

.page-header {
//    @extend .l2-margin;
//    @extend .l2-padding;
    padding: 0rem 1rem 0 3rem;
    @include respond-to(pond) {
        padding-right: 0;
    }
}

#page .search-form {
    display: flex;
    input[type="search"] {
        height: 100%;
        min-width: 200px;
        @include respond-to(pond) {
            min-width: 350px;
        }
    }
    input[type="submit"] {
        margin: 0 1em;
    }
}

.search-results.hfeed .site-main {
        article {
            background-color: colour(light);
            color: colour(detail);
            max-width: 700px;
            align-items: flex-start;
            margin-top: 4rem;
            .size-post-thumbnail {
                height: 350px;
                object-fit: cover;
                object-position: center;
            }
            header, .entry-content, .simple-p {
                margin-left: 0;
            }
            header {
                padding: 3rem 3rem 0 3rem;
                h2 {
                    margin: 0;
                    margin-bottom: 0.5rem;
                    
                }
            }
            .entry-meta {
                margin-left: 0;
                margin-bottom: 1rem;
                font-size: 15px;
                a {
                    color: colour(detail);
                }
            }
            .entry-title a {
                border-bottom: 0px;
                font-weight: bold;
                text-transform: none;
                color: colour(detail);
            }
            .entry-content, .entry-summary {
                line-height: $line-h;
                margin-top: 1rem;
                padding: 0 3rem;
            }
            .entry-footer {
                margin-top: 1rem;
                padding: 0 3rem 3rem 3rem;
                a {
                    color: colour(detail);
                    border-bottom: 1px solid colour(detail);
                }
            }

            

        }
}

.page-template-page-search {
    article {
//        margin-bottom: 4rem;
    }
    .search-form {
        @extend .l1-l2-margin;
    }
}