// Add space to the left and right of paragraphs in mobile, but remove the right spacing on bigger screens.
.entry-content > p, {
    padding: 0 1rem;
    @include respond-to(pond) {
        padding: 0;
    }
}

.entry-content > h1, 
.entry-content > h2, 
.entry-content > h3, 
.entry-content > h4, 
.entry-content > h5,
.entry-content > h6 {
//    margin-left: 1rem;
    @extend .l1-l2-margin;
    padding-right: 1rem;
}

.entry-content {
    .builder {
        &:first-child{
             margin-top: 0;
        }
       
    }
}

.wp-block-audio {
    padding: var(--cspacing) 0;
    max-width: $text-width;
    @extend .l1-l2-margin;
}