:root {
    --l1: 0rem;
    --l2: 1rem;
    --cspacing: 4rem;
    @include respond-to(pond) {
        --l1: 2rem;
        --l2: 2rem;
        --cspacing: 5rem;
    }
    @include respond-to(lake) {
        --l1: 3rem;
        --l2: 3rem;
    }

}

.l1-margin {
    margin-left: var(--l1);
}

.l1-padding {
    padding-left: var(--l1);
}

.l2-padding {
    padding-left: var(--l2);
}

.l2-margin {
    margin-left: var(--l2);
}

.l1-l2-margin {
    margin-left: calc(var(--l1) + var(--l2));
}

.l1-l2-padding {
    padding-left: calc(var(--l1) + var(--l2));
}

.component-spacing {
    margin-bottom: var(--cspacing);
    margin-top: var(--cspacing);
}

[class^="wp-block-"],
.wp-block,
.builder {
    clear: both;
}
