//.page-builder {
//}
//
//.editor {
//    margin: 1em auto;
//    max-width: 650px;
//}

//.cta-duo {
//    max-width: 800px;
//    width: auto;
//    margin: 2em auto;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    @include respond-to(pond) {
//        flex-direction: row;
//        justify-content: space-around;
//    }
//    .cta-wrapper {
//        @include respond-to(pond) {
//            &:first-child {
//                margin-bottom: 0;
//            }
//        }
//
//    }
//    .cta {
//        margin-bottom: 2em;
//        @include respond-to(pond) {
//            width: 45%;
//            height: 400px;
//        }
////        max-width: 400px;
////        background: colour(light);
//        .heading {
//            height: 200px;
//            width: 100%;
//            background-size: cover;
//            display: flex;
//            justify-content: center;
//            align-items: flex-end;
//            h3 {
//                font-size: 30px;
//                text-transform: uppercase;
//                color: #fff;
//            }
//        }
//        .cta-content {
//            display: flex;
//            flex-direction: column;
//            justify-content: space-between;
//            padding: 1.5em 1em 1em 1em;
//            text-align: center;
//            @include respond-to(pond) {
//                height: 200px;
//            }
//            p {
//                @include respond-to(pond) {
//                    flex: 1 0 auto;
//                }
//            }
//            .learn-more {
//                display: inline-block;
//                font-family: $bebas;
//                color: #fff;
//                text-transform: uppercase;
//                background: colour(highlighter);
//                border: 1px solid colour(highlighter);
//                border-top: 3px solid colour(highlighter);
//                border-right: 3px solid colour(highlighter);
//                padding: 0.7em 1em;
//                margin-bottom: 0.5em;
//                transition: 0.5s all ease;
//                &:hover {
//                    color: colour(detail);
//                    background: colour(light);
//                    border: 1px solid colour(detail);
//                    border-top: 3px solid colour(detail);
//                    border-right: 3px solid colour(detail);
//                }
//                
//            }
//        }
//        transition: all 0.2s ease-in-out;
//        &:hover {
//            transform: scale(1.1);
//        }
//
//    }
//}