.wp-block-columns {
    @extend .component-spacing;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @extend .l2-padding;
    margin-right: 1rem;
    @include respond-to(pond) {
//        padding-right: 0;
    }
    p {
        margin-left: 0;
    }
}