#comments {
    background: colour(light);
    padding-top: 2rem;
    margin-bottom: 2rem;
    .comments-title {
        margin-bottom: 2rem;
        margin-top: 1rem;
        @extend .l1-margin;
    }
    .comment-list {
        list-style: none;
        @extend .l1-margin;
    }
    article.comment-body {
        display: grid;
        margin-bottom: 3rem;
        margin-right: 1rem;
        grid-template-areas: 
            "metadata" 
            "comment"
            "edit";
        grid-template-columns: 1fr;
        @include respond-to(pond) {
            grid-template-areas: 
                "metadata comment"
                "edit edit";
            grid-template-columns: 25% auto;
        }
        .comment-meta {
            grid-area: metadata;
            margin-bottom: 1rem;
            @include respond-to(pond) {
                margin-bottom: 0;
            }
            .comment-author {
                img, .says {
                    display: none;
                }
                .fn {
                    text-transform: capitalize;
                }
                margin-bottom: 0.1rem;
            }
            .comment-metadata {
                a {
                    border-bottom: 0px;
                    font-family: $chivo;
                    font-style: italic;
                    font-weight: normal;
                    text-transform: none;
                    font-size: 15px;
                    display: block;
                    line-height: 1.5;
                }
                span.edit-link {
                    text-align: left;
                    padding: 0;
                    @include respond-to(pond) {
                        margin-top: 1rem;
                    }
                    
                    a {
                        font-style: normal;
                    }
                }
            }

        }
        .comment-content {
            grid-area: comment;
            max-width: 750px;
            padding-right: 2rem;
            padding-left: 1rem;
            @include respond-to(sea) {
                padding-right: 0;
            }
        }
        .reply {
            grid-area: edit;
        }
    }
}
#respond {
    padding-bottom: 1rem;
    .comment-reply-title {
        padding-top: 2rem;
        margin-top: 0;
        @extend .l2-margin;
    }
}
#commentform {
    @extend .l2-padding;
    .comment-form-comment {
        max-width: 750px;
    }
    input[type="submit"] {
        margin: 1em 0 !important;
    }
}