.wp-block-embed, .wp-block-video {
    width: max-content;
    @extend .component-spacing;
    @extend .l1-margin;
    max-width: auto;

}

.wp-block-embed {
    @extend .l1-padding;
}

.wp-block-embed.alignright, .wp-block-embed.alignleft, .wp-block-embed.aligncenter {
    max-width: none;
    width: max-content;
}

.wp-block-embed-wordpress.is-provider-copperstone-technologies {
    iframe {
        max-height: 750px;
    }
}

.wp-embed {
    background-color: colour(light); 
    font-family: $chivo; 
    font-size: 18px; 
    color: colour(detail); 
    border: 0px;
    
    a {
        color: colour(detail);
    }
    .wp-embed-heading {
        font-family: $bebas;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: normal;
        padding: 0 1rem;
    }
    .wp-embed-excerpt {
        padding: 0 1rem;
    }
    .wp-embed-more {
        display: block;
        font-family: $bebas;
        color: colour(detail);
        margin-top: 0.5rem;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .wp-embed-footer {
        color: colour(detail);
        font-family: $bebas;
        text-transform: uppercase;
        padding: 0 1rem;
    }
}

.wp-block-embed__wrapper {
    width: max-content;
}

.wp-block-embed-facebook.alignfull,
.wp-block-embed-facebook.alignwide,
.wp-block-embed-instagram.alignfull,
.wp-block-embed-instagram.alignwide,
.wp-block-embed-wordpress.alignfull,
.wp-block-embed-wordpress.alignwide, {
    @extend .l2-padding;
    div {
        @extend .l1-margin;
    }
}
