#colophon {
    grid-area: footer;
    display: grid;
    grid-template-areas: 
        "light transparency"
        "light menuarea"
        "dgreen menuarea"
        "dgreen info";
    grid-template-columns: 10% 90%;
    @include respond-to(pond) { 
        grid-template-columns: 7% 93%;
    }
    
    .light-footer {
        grid-area: light;
        background-color: colour(light);
    }
    .transparent-footer {
        grid-area: transparency;
        background-color: transparent;
        height: 65px;
    }
    .dgreen-footer {
        grid-area: dgreen;
        background-color: colour(darkprimary);
    }
    .menu-footer {
        grid-area: menuarea;
        background-color: colour(primary);
        min-height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        #footer-menu {
            padding-bottom: 2rem;
            padding-left: 2rem;
            padding-top: 2rem;
            @include respond-to(pond) {
                padding-top: 0;
            }
            ul {
                display: flex;
                list-style: none;
                flex-wrap: wrap;
                margin-bottom: 0;
                margin-left: 2rem;
                li {
                    padding: 1rem 0;
                    margin-right: 1rem;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:before {
                        display: none;
                    }
                }
                a {
                    color: #fff;
                    border-bottom: 0px;
                    text-transform: none;
                    font-family: $chivo;
                    border-bottom: 1px solid transparent;
                    &:hover {
                        border-bottom: 1px solid colour(light);
                    }
                }
            }
        }
    }
    .site-info-footer {
        grid-area: info;
        background-color: colour(darkprimary);
        display: flex;
        flex-direction: column;
        font-size: 16px;
        @include respond-to(pond) {
            flex-direction: row;
            text-align: left;
            justify-content: space-between;
            align-items: center;
            
        }
        padding: 2rem 3.5rem;
        color: #fff;
        .site-info {
            margin-bottom: 1rem;
            color: colour(light);
            @include respond-to(pond) {
                margin-bottom: 0;
            }
        }
        a {
            color: colour(light);
        }
        .bottom-hero {
            max-width: 300px;
            a {
                border-bottom: 0px;
                display: block;
            }
        }
    }
}