.site-footer {
    background: colour(detail);
    color: #fff;
    @include angle(before, true, 2deg);
    &:before {
        -webkit-backface-visibility: inherit;
    }
    padding: 2em;
    margin-top: 3em;
    font-size: 16px;
    .bottom-hero {
        width: 225px;
        @include respond-to(lake) {
            width: 400px;
        }
        margin: 0 auto;
        margin-bottom: 1em;
    }
    a {
        border-bottom: 0px;
        color: colour(highlighter);
        text-transform: capitalize;
        font-family: $chivo;
        &:hover {
            color: colour(highlighter);
        }
    }
    .site-info {
        text-align: center;
    }
    .site-credit, .footer-single-link {
        display: block;
        padding: 0.1em 0;
        @include respond-to(pond) {
            padding: 0;
        }
    }
}

.site-credit a {
    border-bottom: 1px solid transparent;
    &:hover {
        border-bottom: 1px solid colour(highlighter);
    }
}

.footer-image {
    margin-bottom: -4.5em;
    img {
        @include respond-to(river) {
           height: 500px; 
        }
        width: 100%;
        object-fit: cover;
        
    }
}

.footer-heart {
    width: 16px;
    vertical-align: -2px;
}