.grid {
    max-width: 1350px;
    width: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    @extend .l1-margin;
    @include respond-to(pond) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    grid-gap: 1.5em;
    .grid-item-wrapper {
        @include respond-to(pond) {
            &:first-child {
                margin-bottom: 0;
            }
        }

    }
    .grid-item {
//        max-width: 450px;
        width: 100%;
        @include respond-to(pond) {
//            height: 400px;
        }
        .heading {
//            height: 200px;
            text-align: center;
            min-height: 300px;
            width: 100%;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-position: center;
            h3 {
                font-size: 30px;
                text-transform: uppercase;
                color: #fff;
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
        .grid-item-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5em 1em 1em 1em;
            text-align: center;
            @include respond-to(pond) {
//                height: 200px;
            }
            p {
                @include respond-to(pond) {
                    flex: 1 0 auto;
                }
            }
            .learn-more {
                display: inline-block;
                font-family: $bebas;
                color: #fff;
                text-transform: uppercase;
                background: colour(highlighter);
                border: 1px solid colour(highlighter);
                border-top: 3px solid colour(highlighter);
                border-right: 3px solid colour(highlighter);
                padding: 0.7em 1em;
                margin-bottom: 0.5em;
                transition: 0.5s all ease;
                &:hover {
                    color: colour(detail);
                    background: colour(light);
                    border: 1px solid colour(detail);
                    border-top: 3px solid colour(detail);
                    border-right: 3px solid colour(detail);
                }
                
            }
        }
        transition: all 0.2s ease-in-out;

    }
}
.grid-item.has-button {
    &:hover {
        transform: scale(1.1);
    }
}
.grid.grid-count-1 {
    max-width: 100%;
    @include respond-to(pond) {
        grid-template-columns: 1fr;
    }
    .grid-item {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
}

.grid.grid-count-2 {
    @include respond-to(pond) {
        grid-template-columns: 1fr 1fr;
    }
    .grid-item {
        width: 100%;
    }
}

.grid.tall-images {
    .grid-item {
        height: 100%;
        max-width: 500px;
        width: 100%;
    }
    .heading {
//        @include respond-to(lake) {
            min-height: 450px;
//        }
        
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
}
