.site-header {
    display: flex;
    justify-content: center;
    background: colour(primary);
    @include angle(after, true, 2deg);
    &:after {
        -webkit-backface-visibility: inherit;
    }
    margin-bottom: 4em;
    padding: 3em 2em 1em 2em;
    @include respond-to(ribbon) {
        @include angle(after, true, 1deg);
        padding-bottom: 2em;
    }
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    @include respond-to(lake) {
        flex-direction: row;
    }
    margin-bottom: 0;
    .site-branding {
        margin-top: -1.5em;
        a {
            border-bottom: 0px;
            &:hover {
                border-bottom: 0px;
            }
        }
    }
}

.main-navigation {
    display: none;
    @include respond-to(lake) {
        display: flex;
    }
    flex-wrap: wrap;
    justify-content: center;
    @include respond-to(lake) {
        justify-content: flex-end;     
    }
    align-items: center;
    flex-grow: 2;
    ul {
        margin: 0;
    }
    a {
        font-size: 16px;
//        font-weight: bold;
        font-weight: 300;
        margin: 0 0.3em;
//        letter-spacing: $bls;
        text-transform: uppercase;
        font-family: $bebas;
        @include respond-to(lake) {
//            font-size: 43px;
            margin: 0 1em;
        }
        color: #fff;
        border-bottom: 1px solid colour(primary);
        &:hover {
            color: colour(highlighter);
        }
    }
    .current-menu-item,
    .current_page_parent {
        color: colour(highlighter);
    }
}

.mob-nav {
    font-size: 26px;
    margin: 1em;
    text-transform: uppercase;
    font-family: $bebas;
    color: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    &:hover {
//        border-bottom: 1px solid #fff;
    }
    @include respond-to(lake) {
        display: none;
    }
}
#mobile-site-navigation-wrapper {
    display: none;
    @include respond-to(lake) {
        display: none;
    }
    
}
#mobile-site-navigation {
    @extend .main-navigation;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    a {
//        display: block;
        text-align: center;
    }
}

.site-title {
    margin-top: 0em;
    margin-bottom: 0em;
    width: 250px;
    @include respond-to(brook) {
       width: 300px; 
    }
    
    a:hover {
        border-color: transparent;
    }
}

.featured-image {
    margin-bottom: 2em;
    img {
        @include respond-to(river) {
            height: 500px;
            width: 100%;
            object-fit: cover;
        }
    }
}