.site-header {
    display: flex;
    justify-content: center;
    background: colour(primary);
    @include angle(after, true);
    margin-bottom: 4em;
    padding: 0 1em;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    @include respond-to(lake) {
        flex-direction: row;
    }
}

.site-branding {
//    background: colour(primary);
    width: 300px;
    padding: 1em;
    
}

.site-title {
    font-size: inherit;
//    display: none;
    a {
        border-bottom: 0px;
    }
}

.main-navigation {
    display: none;
    @include respond-to(lake) {
        display: flex;
    }
    flex-wrap: wrap;
    justify-content: center;
    @include respond-to(lake) {
        justify-content: flex-end;     
    }
    align-items: center;
    flex-grow: 2;
    a {
        font-size: 26px;
        margin: 0 0.3em;
        text-transform: uppercase;
        font-family: $bebas;
        @include respond-to(lake) {
//            font-size: 43px;
            margin: 0 1em;
        }
        color: #fff;
        border-bottom: 1px solid colour(primary);
        &:hover {
            border-bottom: 1px solid #fff;
        }
    }
    .current-menu-item,
    .current_page_parent {
        border-bottom: 1px solid #fff;
    }
}

.page-title {
    text-align: center;
}

.front-page-header {
    flex-direction: column;
    padding: 0;
    .site-branding {
//        width: 100%;
        height: 33vh;
        @include respond-to(creek) {
            height: 40vh;
        }
        @include respond-to(lake) {
            height: 55vh;
        }
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
    }
    .site-hero {
        .site-title {
            width: 250px;
            @include respond-to(creek) {
                width: 300px;   
            }
            
        }
    }
    .main-navigation {
        padding-top: 1em;
        justify-content: center;
        background: colour(primary);
    }
    @include respond-to(creek) {
        flex-direction: row;
    }
    
}

.mob-nav {
    font-size: 26px;
    margin: 1em;
    text-transform: uppercase;
    font-family: $bebas;
    color: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    &:hover {
//        border-bottom: 1px solid #fff;
    }
    @include respond-to(lake) {
        display: none;
    }
}
#mobile-site-navigation-wrapper {
    display: none;
    
}
#mobile-site-navigation {
    @extend .main-navigation;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    a {
//        display: block;
        text-align: center;
    }
}