.site-header {
    grid-area: header;
    background-color: colour(light);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    @include respond-to(pond) {
        flex-direction: row;
        padding: 0;
    }
    .site-branding {
        display: grid;
        grid-template-columns: max-content auto;
        background-colour: colour(light);
        
        height: 100px;
        @include respond-to(pond) {
//            height: 156px;
            width: 50%;
            
        }
        z-index: 300;
        .cst-mark-wrapper {
//            
//            padding: 2.5rem 1.5rem;
//            display: grid;
//            align-items: center;
//            background: colour(light);
//            width: 107px;
//            height: 100px;
//            @include respond-to(pond) {
//                height: 156px;
//            }
//            border-bottom: 0px;
//            
//            img {
//                display: none;
//                width: 45px;
//                @include respond-to(pond) {
//                    width: 75px;
//                }
//            }
//            .sticky-mark {
//                position: fixed;
//                left: 213px;
//                @include respond-to(pond) {
//                    left: 333px;
//                }
//                top: 1em;
//                transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
//                
//            }
//            .sticky-mark.hidden {
//                transform: translateX(-608%);
//                width: 34px;
//                display: none;
//                @include respond-to(lake) {
//                    display: block;
//                    width: 48px;
//                    transform: translateX(-687%);
//                }
//            }
        }
        .site-title {
            margin: 0;
            padding: 1.5rem 1.5rem;
            @include respond-to(pond) {
                
            }
            transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
            @include respond-to(pond) {
                position: fixed;
            }
            
            a {
                border-bottom: 0;
            }
            img {
                height: 50px;
                max-width: none;
                @include respond-to(pond) {
                    height: 50px;
                }
            }
        }
        .site-title.hidden {
            display: none;
            @include respond-to(pond) {
                display: block;
                transform: translateX(-72%);
            }
            
            
        }
    }
    .page-title {
        
        text-align: center;
        @include respond-to(pond) {
            width: 50%;
            text-align: right;
            padding-right: 1.2rem;
        }
        
        h2,h1 {
            margin-top: 0;
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

#content {
    grid-area: content;
}