.highlight {
    @extend .l1-margin;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: auto;
    @include respond-to(pond) {
        flex-direction: row;
        max-width: 100%;
    }
    background: colour(light);
    .product-image {
        width: 100%;
        @include respond-to(pond) {
            width: 60%;
        }
        @include respond-to(river) {
            width: 70%;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .product-text {
        width: 100%;
        @include respond-to(pond) {
            width: 40%;
        }
        @include respond-to(river) {
            width: 30%;
        }
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0em;
            margin-bottom: 0.5em;
        }
        p {
            margin-bottom: 0;
        }
    }
}