.detailed-list {
    @extend .l2-padding;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @extend .l1-margin;
    width: 100%;
    .description {
        max-width: $text-width;
        margin-bottom: 3rem;
    }
    ul {
        list-style: none;
        margin: 0;
        li::before {
            display: none;
        }
    }
    h3 {
        margin-bottom: 2em;
        margin-top: 0;
    }
    h4 {
        margin-top: 0;
    }
}

.detailed-list.default {
    background: colour(primary);
    li, h3, h4, p {
         color: colour(light);
    }
    h3 {
        border-bottom-color: colour(light);
    }
    ul {
        @include respond-to(pond) {
            column-count: 2;
            column-gap: 1em;
        }

        li {
            display: inline-block;
            max-width: 600px;
            padding-right: 1em;
            .content-wrapper {
                max-width: 450px;
            }
        }
        
    }
    
}

.detailed-list.imgs {
    padding-top: 0;
    padding-bottom: 0;
    ul {
        li .content-wrapper {
            display: flex;
            flex-direction: column;
            margin-bottom: 4em;
            @include respond-to(river) {
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 2em;
            }
            
            
//            max-width: 1200px;
            .content {
                max-width: 600px;
                width: 95%;
                @include respond-to(river) {
                    width: 65%;
                    padding-right: 2em; 
                }
            }
            figure {
                @include respond-to(river) {
                    max-width: 35%;
                }
            }
        }
    }
}