.main-navigation {
    grid-area: nav;
    background-color: colour(detail);
    color: #fff;
    padding: 1.5rem 0;
    @include respond-to(pond) {
        padding: 3rem 0;
    }
    height: 100vh;
    width: var(--nav);
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-out width;
    @include respond-to(sea) { 
        justify-content: space-between;
        padding: 2rem 1.5rem;
    }
    position: fixed;
    right: 0;
    top: 0;
    font-family: $chivo;
    font-size: 16px;
    line-height: $line-h;
    overflow-y: scroll;
    .cst-mark-mobile-wrapper {
        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
    .mobile-cst-mark {
        width: 20px;
        @include respond-to(streambrook) {
            width: 25px;
        }
        margin: 7rem auto 0 auto;
        display: block;
        margin-bottom: 1rem;
        @include respond-to(sea) {
            display: none;
        }
    }

    .nav-search {
        display: none;
        margin-top: 1rem;
        padding: 1rem;
        @include respond-to(sea) {
            display: block;
            padding: 0;
        }
        a {
            color: #fff;
            border-bottom: 0px;
            &:hover {
                border-bottom: 0px;
            }
            span {
                display: none;
                @include respond-to(sea) {
                    display: inline;
                }
            }
        }
    }
    .mobile-nav {
        color: #fff;
        transform: rotate(90deg);
        font-weight: bold;
        &:hover {
            cursor: pointer;
        }
        @include respond-to(sea) {
            display: none;
        }
        .fa-ellipsis-h, .fa-times {
            margin-right: 0.5em;
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
        }
        .nav-close {
            display: none;
        }
    }
    #menu-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .nav-meta-wrapper { 
        transform: rotate(90deg);
        margin-top: 10em;
        @include respond-to(sea) {
            margin-top: 0;
            transform: none;
        }
    }
    #main-menu {
        display: none;
        @include respond-to(sea) {
            display: block;
        }
        ul li:last-child {
            margin-bottom: 0;
        }
    }
    .nav-desc {
        color: #fff;
        font-size: 18px;
        display: none;
        @include respond-to(sea) {
            display: block;
        }   
    }
    .nav-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        border-bottom: 0px;
        span {
            border-bottom: 1px solid colour(highlighter);
            color: colour(highlighter);
            transition: 0.5s ease all;
        }
        @include respond-to(sea) {
            display: block;
            width: auto;
        }
        &:hover {
            border-bottom: 0px;
            span {
                color: #fff;
                border-bottom: 1px solid #fff;      
            }

        }
    }
    ul.menu {
        list-style: none;
        margin: 2em 0 0 0;
        font-family: $chivo;
        padding-left: 0;
        li {
            &:before {
                display: none;
            }
            margin-bottom: 1em;
            line-height: 1.5em;
            .sub-menu-heading {
                font-weight: normal;
            }
            .sub-menu {
                margin: 0;
                padding-left: 0;
                li {
                    margin-bottom: 0.1em;
                    line-height: 1.5em;
                }
            }
            a {
                color: #fff;
                text-transform: capitalize;
                font-family: $chivo;
                font-weight: bold;
            }
        }
    }
}

.overlay-nav {
    width: 200px;
    position: fixed; /* Stay in place */
    z-index: 11000; /* Stay on top */
    top: 0;
    justify-content: space-between;
    padding: 2em 1.5em;
    .mobile-cst-mark {
        width: 35px;
        margin: 1rem 0;
    }
    .nav-search {
        display: block;
        padding: 0;
    }
    .mobile-nav .nav-open {
        display: none;
    }
    .mobile-nav .nav-close {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #menu-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 80px;
        @include respond-to(brook) {
            padding-bottom: 0;
        }
        @include respond-to(pond) {
            justify-content: space-between;
        }
        height: 100%;
        margin-top: 0em;
        .nav-desc {
            display: block;
        }
    }
    .nav-meta-wrapper {
        transform: none;
        margin: 0;
    }
    .mobile-nav {
        transform: none;
        span {
            width: auto;
        }
        
    }
    .nav-cta {
        width: auto;
        display: block;
    }
    #main-menu {
        display: block;
//        margin-top: 160px;
    }
    
}