.builder.latest-news {
    background-color: colour(light);
    @include respond-to(pond) {
        background:  linear-gradient(to right, #f5f2ed 0%,#f5f2ed 87%,#f5f2ed 87%,#207cca 87%,#f5f2ed 87%,#f5f2ed 87%,#ffffff 87%); 
    }
    padding-top: 3rem;
    padding-bottom: 3rem;
    @extend .l2-padding;
    @extend .l1-margin;
    
    h3 {
        margin-top: 0;
        padding-bottom: 0.5em;
    }
    .article-list {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        @include respond-to(river) {
            flex-direction: row;
        }
        justify-content: space-between;
        @include respond-to(pond) {
            width: 82%;
        }
        
        li {
            max-width: 450px;
            @include respond-to(river) {
                max-width: 300px;
            }
            
            padding: 0 1em 0 0;
            article {
                align-items: flex-start;
            }
            .read-more-link {
                display: inline-block;
                margin-top: 1em;
            }
        }
        li:before {
            display: none;
        }
    }
}

