.simple-p, article .entry-content > p, article > p {
    @extend .l1-l2-margin;
    max-width: $text-width;
}

.entry-content > p.has-background {
    @extend .l2-margin;
    @extend .l2-padding;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: var(--l1);
    @include respond-to(pond) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}