.tech-specs {
    background-color: colour(light);
    @include respond-to(pond) {
        background: linear-gradient(to right, #f5f2ed 0%, #f5f2ed 0%, #f5f2ed 87%, #000000 87%, #000000 87.4%, rgba(255,255,255,1) 87.4%, rgba(255,255,255,1) 100%);
    }
    @extend .l2-margin;
    .spec-wrapper {
        @extend .l2-padding;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid colour(detail);
        border-top: 5px solid colour(detail);
        border-left: 2px solid colour(detail);
        @include respond-to(pond) {
            width: 87.2%;
        }
    }
    h3 {
        @include respond-to(pond) {
            position: absolute;
            max-width: 1350px;
        }
        width: inherit;
        margin-top: 0;
        
    }
    .specifications {
        margin-top: 2rem;
        @include respond-to(pond) {
            margin-top: 4rem;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        

        li {
            &:before {
                display: none;
            }
            display: flex;
            flex-direction: column;
            @include respond-to(river) {
                flex-direction: row;
            }
            
            margin-bottom: 2em;
            &:last-child {
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
            .specification {
                font-weight: bold;
                @include respond-to(river) {
                    padding-right: 1rem;
                    width: 40%;
                }
                p {
                    @include respond-to(river) {
                        max-width: 275px;
                    }
                }
            }
            .content-wrapper {
                @include respond-to(river) {
                    width: 60%;
                }
                max-width: 445px;
            }
        }
    }
}