.video-cta {
    width: 100%; 
    height: 100vh;
    position: relative;
    #bg-video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .content {
        z-index: 99;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        padding-top: 35%;
        padding-right: 5%;
        @include respond-to(pond) {
            width: 50%;
            padding-top: 10%;
        }
        display: flex;
        flex-direction: column;
        
        h2 {
            max-width: 500px;
            text-transform: none;
            text-align: right;
        }
        h2 span {
            box-shadow: -3px 4px 0px 4px colour(detail);
            background-color: colour(detail);
            box-decoration-break: clone;
            line-height: 1.7;
            color: #fff;
            
        }
        .button-wrapper {
            max-width: 500px;
            text-align: right;
            margin-top: 1em;
            a {
                display: inline;
                border-bottom-color: colour(highlighter);
                &:hover {
                    border-bottom: 1px solid;
                }
            }
        }
    }
}


#videoDiv {width: 100%; height: 360px; position: relative; margin-bottom: 8em;}
#videoBlock {width: 100%; height: 100%;  display: flex;  justify-content: center; align-items: center;}
#videoMessage {width: 100%; height:100%; position: absolute; top: 0; left: 0;}
#videoMessage *{padding:0.4em; margin:0}
#videoMessage {text-shadow: 2px 2px 2px #000000; color:white;z-index:99 }
#videoMessage h1{font-size: 2em;color:#ffffff;text-align:center;}
#videoMessage h2{font-size: 1.5em;color:#ffffff;text-align:center;}
#videoMessage h3{font-size: 1.2em;color:#ffffff;text-align:center;}
.videoClick {text-align:center}
.videoClick a{color:white;background-color:rgba(241, 241, 241, 0.25);font-size: 1.7em;cursor:pointer;cursor:hand}