.aligncenter {
    margin-right: auto;
    margin-left: auto;
}

.alignright {
    padding-right: 1rem;
}

.entry-content>ul.wp-block-gallery, .wp-block-gallery {
    margin-top: 2rem;
    max-width: 100%;
    @extend .l1-margin;
    padding-left: 0;
//    margin-left: 0;
    margin-bottom: var(--cspacing);
    li.blocks-gallery-item, li {
        list-style: none;
        &:before {
            display: none;
            content: '';
        }
        margin: 0 !important;
    }
    &.aligncenter {
            @extend .l2-padding;
    }
    img {
//        max-height: 300px;
    }
    a {
        border-bottom: 0px;
        &:hover {
            border-bottom: 0px;
        }
    }
}

.entry-content>ul.wp-block-gallery.alignleft,
.entry-content>ul.wp-block-gallery.alignright {
    max-width: 650px;
    width: 100%;
}

.entry-content>ul.wp-block-gallery.alignright {
//    @include respond-to(pond) {
        padding-right: 1rem;
//    }
    
}

.entry-content>ul.wp-block-gallery.aligncenter {
    max-width: 650px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
//    padding: 0;
}

.wp-block-image {
    @extend .l2-margin;
    
    figcaption {
        color: colour(primary);
    }
    a {
        border-bottom: 0px;
        &:hover {
            border-bottom: 0px;
        }
    }
    figure {
        margin-bottom: var(--cspacing);
    }
}

.wp-block-image {
//    display: table;
    display: block;

    .alignleft {
        @extend .l2-padding;
        max-width: 650px;
            
    }
    .aligncenter {
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
    }
    .alignright {
        max-width: 650px;
        @include respond-to(pond) {
            padding-right: 1rem;
        }
        
    }

}



.wp-block-image img {
//    width: 100%;
    
}

.alignfull,
.wp-block-image.alignfull,
.entry-content>ul.wp-block-gallery.alignfull {
    max-width: calc(100vw - var(--nav));
    width: calc(100vw - var(--nav));
//    margin: 0;
    margin-left: 0;
    padding: 0;
}

.entry-content>ul.wp-block-gallery.alignfull {
    @include respond-to(width) {
//        max-width: calc(100vw - var(--nav));
//        width: 100%;
        margin-left: calc(var(--maxwidth) + var(--nav) - 100vw);
    }
}

.alignfull > :first-child {
    max-width: calc(100vw - var(--nav));
    width: 100%;
    @include respond-to(width) {
        max-width: calc(100vw - var(--nav));
        width: 100%;
        margin-left: calc(var(--maxwidth) + var(--nav) - 100vw);
    }
}

