h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
//    @extend .l1-margin;
}

h1 {
    font-family: $bebas;
    font-weight: bold;
    font-size: 25px;
    color: colour(detail);
    text-transform: uppercase;
}

h2 {
    font-family: $bebas;
    text-transform: uppercase;
    font-size: 30px;
    color: colour(detail);

}

h3 {
    font-family: $bebas;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid colour(detail);
    color: colour(detail);
    padding-bottom: 0.5em;
    margin-top: 3rem;
}

h4 {
    font-family: $bebas;
    font-size: 25px;
    font-weight: bold;
    color: colour(detail);
}

h5 {
    font-family: $chivo;
    font-size: 18px;
    font-weight: bold;
}

h1.is-style-no-underline,
h2.is-style-no-underline,
h3.is-style-no-underline,
h4.is-style-no-underline,
h5.is-style-no-underline, {
    border-bottom: 0px;
    padding-bottom: 0;
}

.wp-block-pullquote, .wp-block-quote {
    max-width: calc( var(--width) - 100px);
    padding: 2rem;
    @extend .l1-l2-margin;
    border: 0px;
    font-size: 18px;
    p {
        font-family: $bebas;
//        color: colour(primary);
        font-size: 18px;
        font-style: normal;
        text-align: left;
    }
    cite {
        display: block;
        text-align: left;
        font-style: italic;
        font-size: 16px;
//        color: colour(primary);
        font-family: $chivo;
        font-weight: normal;
        text-transform: none;
    }
}
.subtitle {
    font-family: $bebas;
    font-weight: 300;
    font-size: 20px;
    line-height: $line-h;
    color: colour(detail);
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: $text-width;
    p {
        font-family: $bebas;
    }
    a, a:visited {
        color: colour(darkprimary);
        border-bottom: 1px solid colour(darkprimary);
    }
    a:hover {
        color: colour(highlighter);
        border-bottom: 1px solid colour(highlighter);
    }
}

.subtitle-format {
    font-family: $bebas;
    font-weight: 300;
    font-size: 20px;
    line-height: $line-h;
    color: colour(detail);
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: $text-width;
    p {
        font-family: $bebas;
    }
    a, a:visited {
        color: colour(darkprimary);
        border-bottom: 1px solid colour(darkprimary);
    }
    a:hover {
        color: colour(highlighter);
        border-bottom: 1px solid colour(highlighter);
    }
}

.highlight-statement {
    font-family: $chivo;
    color: colour(detail);
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    display: block;
    margin: 2em 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

p {
    font-family: $chivo;
    font-size: 18px;
    line-height: $line-h;
    margin-bottom: 1em;
}

a, p.lonesome-link a {
    border-bottom: 1px solid colour(detail);
    color: colour(detail);
    font-family: $bebas;
    transition: 0.5s all ease;
    text-decoration: none;
    text-transform: uppercase;
    &:visited {
        border-bottom: 1px solid colour(detail);
        color: colour(detail);
    }
    &:hover {
        border-bottom: 1px solid colour(highlighter);
        color: colour(highlighter);
    }
}

p a {
    text-transform: none;
    font-family: $chivo;
}

.pages-header {
    margin-top: 7em;
    padding: 0em 1em;
    text-align: center;
    @include respond-to(pond) {
        padding: 0em;
    }
    margin-bottom: 3em;
    h1 {
        margin-bottom: 0.3em;
    }
}

.cst-button {
    display: inline-block;
    border-bottom: 0px;
    font-family: $bebas;
    color: #fff;
    text-transform: uppercase;
    background: colour(highlighter);
    border: 1px solid colour(highlighter);
    border-top: 3px solid colour(highlighter);
    border-right: 3px solid colour(highlighter);
    padding: 0.7em 1em;
    margin-bottom: 0.5em;
    transition: 0.5s all ease;
    &:hover {
        color: colour(detail);
        background: colour(light);
        border: 1px solid colour(detail);
        border-top: 3px solid colour(detail);
        border-right: 3px solid colour(detail);
    }
    &:visited {
        border-bottom: 0px;
        color: #fff;
    }
                
}

@import "typography-forms";
@import "typography-lists";