// LISTS

ul,  ol {
//	margin: 0 0 2em 0em;
    margin-bottom: 2em;
    @extend .l2-margin;
    
    li {
        line-height: $line-h;
    }
}

.entry-content > ul, .entry-content > ol {
    max-width: $text-width;
    padding-left: 4rem;
    
    @include respond-to(pond) {
        padding-left: 6rem;
    }
}

#wp-admin-bar-root-default {
    max-width: 100%;
}

ul {
	list-style: none;
    li:before {
        content: '—';
        display: inline-block;
        position: relative;
        width: 1em;
        padding-right: 0.1em;
        margin-left: -1.5em;
        margin-right: 0.5em;
        text-align: right;
    }
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}