#page .gform_wrapper {
    @extend .l2-margin;
    margin-top: var(--cspacing);
    margin-bottom: var(--cspacing);
}

#page .gform_wrapper ul {
    .gfield_description {
        line-height: $line-h;
        font-size: 16px;
    }
    .gfield_label {
        font-size: 16px;
        font-weight: bold;
    }
    .gfield_label, label {
        font-family: chivo, sans-serif;
    }
    li {
        margin-bottom: 2em;
    }
}

#page .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first label, 
#page .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last label, 
#page .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle label {
    margin-top: 0.6em;
    margin-bottom: 0;
    font-size: 14px;
}

.gform_wrapper .large {
    width: 100%;
}

#page .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), select, .gform_wrapper select option {
    padding: 0.5em;
}

.gform_confirmation_wrapper  {
    margin-bottom: 4em;
    border: 1px solid colour(light);
    padding: 2em;
    background-color: colour(light);

}

#page form input, 
#page select, 
#page textarea {
    font-family: $bebas;
    color: colour(detail);
    border-color: colour(detail);
    background: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px; 
    -webkit-appearance: none;
}

#page select {
    border-color: colour(light);
    height: 40px;
    border-radius: 0;
    
}

#page form ul li, #page .gform_wrapper ul li {
    &:before {
        display: none;
    }
}

#page input[type="submit"], 
#page .gform_button .button, 
#page .gform_wrapper .gform_footer input.button, 
#page .gform_wrapper .gform_footer input[type=submit], 
#page .gform_wrapper .gform_page_footer input.button, 
#page .gform_wrapper .gform_page_footer input[type=submit] {
    display: block;
    margin: 0 auto;
    -webkit-appearance: none;
    border: 1px solid colour(highlighter);
    border-right: 3px solid colour(highlighter);
    border-top: 3px solid colour(highlighter);
    background-color: colour(highlighter);
    text-transform: uppercase;
    color: #fff;
    font-style: normal;
    font-family: $bebas;
    font-size: 16px;
    padding: 0.8em 2em;
    cursor: pointer;
    transition: 0.5s ease all;
    &:hover {
        border-left: 1px solid colour(detail);
        border-bottom: 1px solid colour(detail);
        border-right: 3px solid colour(detail);
        border-top: 3px solid colour(detail);
        background-color: colour(light);
        color: colour(detail);
    }
}

#page .gform_wrapper .gform_footer {
    margin: 0 auto;
}

#field_1_10 {
    line-height: $line-h;
    color: colour(primary);
    text-align: center;
}

#page .gform_wrapper form {
    max-width: 700px;
    @extend .l1-margin;
}

#page .builder .gform_wrapper form {
    margin-left: 0;
}
