.builder h1, 
.builder h2, 
.builder h3, 
.builder h4, 
.builder h5, 
.builder h6 {
    margin-left: 0;
}


.builder {
    @extend .component-spacing;
}

.has-teal-background-color {
    background-color: colour(primary);
}

.has-white-background-color {
    background-color: #fff;
}

.has-green-background-color {
    background-color: colour(highlighter);
}

.has-black-background-color {
    background-color: colour(detail);
}

.has-neutral-background-color {
    background-color: colour(light);
}

.has-teal-color, .has-teal-color > * {
    color: colour(primary);
}

.has-green-color, .has-green-color > * {
    color: colour(highlighter);
}

.has-black-color, .has-black-color > * {
    color: colour(detail);
}

.has-white-color, .has-white-color > * {
    color: #fff;
}
.has-neutral-color, .has-neutral-color > * {
    color: colour(light);
}